/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery-item {
  margin: 0;
  width: calc((100% - 2 * 24px) / 3);
}

.gallery {
  max-width: 1440px;
  padding: 0 156px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8);
}
.sl-prev,
.sl-next {
  color: #fff;
}
.sl-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.sl-close {
  color: #fff;
}
