/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
/* gallery styles */
.container {
  .container {
    max-width: 1440px;
    padding: 0 156px;
    margin: 0 auto;
  }
}
.gallery-item {
  margin: 0;
  width: calc((100% - 2 * 24px) / 3);
}

.gallery {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.sl-wrapper {
  background: #2e2f42cc;
}
.sl-wrapper div.sl-counter {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-prev {
  color: #ffffff;
}
.sl-wrapper button.sl-close {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-next {
  color: #ffffff;
}
